```🌸Jupm to Python을 통해서 Python 기본 문법을 복습한다.```

## 문자열 자료형

#### 1. 슬라이싱으로 문자열 나누기

* 'Pithon'이라는 문자를 'Python'으로 바꾸려면?

In [13]:
a = 'Pithon'
a[1]

'i'

* `TypeError: 'str' object does not support item assignment`    
: 문자열의 요솟값은 바꿀 수 있는 값이 아니다.(immutable)

In [10]:
a[1] = 'y'

TypeError: 'str' object does not support item assignment

In [11]:
a = a[:1] + 'y' + a[2:]
a

'Python'

#### 2. 문자열 포매팅(Formatting)

* 숫자 바로 대입 → %d

In [14]:
'I eat %d apples.' %3

'I eat 3 apples.'

* 문자열 바로 대입 → %s

In [15]:
'I eat %s apples.' %'five'

'I eat five apples.'

* 2개 이상의 값 넣기     
: 2개 이상의 값을 넣으려면 마지막 % 다음 괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어주면 된다.

In [16]:
number = 10
day = 'three'
'I ate %d apples. so I was sick for %s days.' %(number, day)

'I ate 10 apples. so I was sick for three days.'

#### 3. 문자열 포맷 코드

코드 | 설명    
:-----: | :-----
%s | 문자열(String)
%c | 문자 1개(Character)
%d | 정수(Integer)
%f | 부동소수(Floating-point)
%o | 8진수
%x | 16진수
%% | Literal % (문자 % 자체)

* `%s` 는 자동으로 % 뒤에 있는 값을 문자열로 바꾼다.

In [10]:
'I have %s apples' % 3

'I have 3 apples'

In [11]:
'rate is %s' % 3.234

'rate is 3.234'

* 포매팅 연산자 %d와 %를 같이 쓸 때는 `%%`를 쓴다.
* `ValueError: incomplete format`    
: %를 나타내려면 반드시 %%로 써야한다.

In [3]:
'Error is %d%.' %98

ValueError: incomplete format

In [4]:
'Error is %d%%.' %98

'Error is 98%.'

#### 4. 포맷 코드와 숫자 함께 사용하기

* 정렬과 공백    
`%10s` : 전체 길이가 10개인 문자열 공간에서 오른쪽 정렬

In [7]:
'%10s' %'hi'

'        hi'

In [8]:
'%-10sjane' %'hi'

'hi        jane'

* 소수점 표현하기

In [9]:
'%0.4f' %3.42143234

'3.4214'

In [11]:
'%10.4f' %3.42143234

'    3.4214'

#### 5. Format 함수를 사용한 포매팅

In [13]:
# 숫자 바로 대입하기
'I eat {0} apples.'.format(3)

'I eat 3 apples.'

In [14]:
# 문자열 바로 대입하기
'I eat {0} appels.'.format('five')

'I eat five appels.'

In [15]:
# 숫자 값을 가진 변수로 대입하기
number = 3
'I eat {0} apples.'.format(number)

'I eat 3 apples.'

In [16]:
# 2개 이상의 값 넣기
number = 10
day = 'three'
'I ate {0} apples. so I was sick for {1} days.'.format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [18]:
# 이름으로 넣기
'I ate {number} apples. so I was sick for {day} days.'.format(number=10, day='three')

'I ate 10 apples. so I was sick for three days.'

In [19]:
# 인덱스와 이름을 혼용해서 넣기
'I ate {0} apples. so I was sick for {day} days.'.format(10, day='three')

'I ate 10 apples. so I was sick for three days.'

* 정렬    
`:<10` : 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞춘다.    
`:<` 대신 `:>` 를 사용하면 오른쪽 정렬    
`:^` 은 가운데 정렬

In [20]:
# 왼쪽 정렬
'{0:<10}'.format('hi')

'hi        '

In [21]:
# 오른쪽 정렬
'{0:>10}'.format('hi')

'        hi'

In [22]:
# 가운데 정렬
'{0:^10}'.format('hi')

'    hi    '

* 공백 채우기    
정렬 문자 `<, >, ^` 바로 앞에 지정한 문자를 넣으면 해당 값으로 공백이 채워진다.

In [23]:
'{0:=^10}'.format('hi')

'====hi===='

In [28]:
'{0:!^10}'.format('hi')

'!!!!hi!!!!'

* 소수점 표현하기

In [29]:
y = 3.42134234
'{0:0.4f}'.format(y)

'3.4213'

In [30]:
'{0:10.4f}'.format(y)

'    3.4213'

* `{` 또는 `}` 문자 표현하기

In [31]:
'{{ and }}'.format()

'{ and }'

#### 6. f 문자열 포매팅

* 문자열 앞에 `f` 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [33]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [34]:
age = 30 
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [37]:
# 딕셔너리에서 사용
d = {'name':'홍길동', 'age':30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [40]:
# 왼쪽 정렬
f'{"hi":<10}'

'hi        '

In [41]:
# 오른쪽 정렬
f'{"hi":>10}'

'        hi'

In [42]:
# 가운데 정렬
f'{"hi":^10}'

'    hi    '

In [43]:
# 가운데 정렬 + '=' 공백 채우기
f'{"hi":=^10}'

'====hi===='

In [45]:
# 왼쪽 정렬 + '!' 공백 채우기
f'{"hi":!<10}'

'hi!!!!!!!!'

In [1]:
# 소수점
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [2]:
# 소수점 + 총 자리수 10자리
f'{y:10.4f}'

'    3.4213'

In [3]:
# {} 표현
f'{{ and }}'

'{ and }'

#### 7. 문자열 관련 함수들

* 문자 개수 세기 `count`

In [4]:
a = 'hobby'
a.count('b')

2

* 위치 알려주기_1 `find`   
: 찾는 문자나 문자열이 존재하지 않는다면 -1 반환

In [13]:
a = 'Python is the best choice'
print(a.find('b'))

14

In [14]:
print(a.find('k')) # 찾지 못하면 -1 반환

-1

* 위치 알려주기_2 `index`   
: 찾는 문자나 문자열이 존재하지 않는다면 오류 발생

In [15]:
a = 'Life is too short'
a.index('t')

8

In [16]:
a.index('k') # 찾지 못하면 오류

ValueError: substring not found

* 문자열 삽입 `join`

In [17]:
','.join('abcd')

'a,b,c,d'

In [18]:
','.join(['a','b','c','d'])

'a,b,c,d'

* 소문자를 대문자로 바꾸기 `upper`

In [19]:
a = 'hi'
a.upper()

'HI'

* 대문자를 소문자로 바꾸기 `lower`

In [20]:
a = 'HI'
a.lower()

'hi'

* 왼쪽 공백 지우기 `lstrip`

In [23]:
a = '     hi  '
a.lstrip()

'hi  '

* 오른쪽 공백 지우기 `rstrip`

In [24]:
a = '  hi      '
a.rstrip()

'  hi'

* 양쪽 공백 지우기 `strip`

In [25]:
a = '    hi   '
a.strip()

'hi'

* 문자열 바꾸기 `replace`

In [26]:
a = 'Life is too short'
a.replace('Life', 'Your leg')

'Your leg is too short'

* 문자열 나누기 `split`

In [27]:
a = 'Life is too shor'
a.split() # () 안에 아무것도 안넣으면 공백을 기준으로 나눈다.

['Life', 'is', 'too', 'shor']

In [28]:
b = 'a:b:c:d'
b.split(':') # () 안에 특정 값이 있으면 그 값을 구분자로 해서 나눈다.

['a', 'b', 'c', 'd']