```🌸Jupm to Python을 통해서 Python 기본 문법을 복습한다.```

## 자료형 연습문제

#### Q1. 
#### 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.

과목 | 점수
:---: | :---:
국어 | 80
영어 | 75
수학 | 55

In [1]:
kor = 80
eng = 75
mat = 55
avg = (kor + eng + mat) / 3
avg

70.0

#### Q2. 
#### 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [2]:
a = 13
a%2

1

#### Q3. 
#### 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.    
(※ 문자열 슬라이싱 기법을 사용해 보자.)

In [10]:
num = '881120-1068234'
yymmdd = num[:6]
remainder = num[7:]
print(yymmdd)
print(remainder)

881120
1068234

#### Q4. 
#### 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.    
(※ 문자열 인덱싱을 사용해 보자.)

In [22]:
num = '881120-1068234'
a = num[7]

if a == '1':
    print('남자')
elif a == '2':
    print('여자')
else:
    print('error')

남자

#### Q5. 
#### 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [24]:
a = 'a:b:c:d'
b = a.replace(':', '#')
b

'a#b#c#d'

#### Q6. 
#### [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [28]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

#### Q7. 
#### ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.    
(※ 문자열의 join 함수를 사용하면 리스트를 문자열로 쉽게 만들 수 있다.)

In [29]:
' '.join(['Life', 'is', 'too', 'short'] )

'Life is too short'

#### Q8. 
#### (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.    
(※ 더하기(+)를 사용해 보자.)

In [31]:
a = (1,2,3)
b = a + (4,)
b

(1, 2, 3, 4)

#### Q9. 
#### 다음과 같은 딕셔너리 a가 있다.

In [40]:
a = dict()
b = dict()
c = dict()
d = dict()
a, b, c, d

({}, {}, {}, {})

#### 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.    
1. a['name'] = 'python'    
2. a[('a',)] = 'python'    
3. a[[1]] = 'python'    
4. a[250] = 'python'

In [41]:
# 1.
a['name'] = 'python'
a

{'name': 'python'}

In [42]:
# 2.
b[('a',)] = 'python'
b

{('a',): 'python'}

In [43]:
# 3.
c[[1]] = 'python'
c

TypeError: unhashable type: 'list'

* `TypeError: unhashable type: 'list'`    
: 딕셔너리의 키는 변하는 값을 사용할 수 없다!

In [45]:
# 4.
d[250] = 'python'
d

{250: 'python'}

#### Q10. 
#### 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.    
(※ 딕셔너리의 pop 함수를 사용해 보자.)

In [49]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

In [50]:
a

{'A': 90, 'C': 70}

#### Q11. 
#### a 리스트에서 중복 숫자를 제거해 보자.    
(※ 집합 자료형의 요솟값이 중복될 수 없다는 특징을 사용해 보자.)

In [53]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
b

{1, 2, 3, 4, 5}

#### Q12. 
#### 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [54]:
a = b = [1,2,3]
a[1] = 4
print(a)
print(b)

[1, 4, 3]
[1, 4, 3]

In [55]:
print(id(a))
print(id(b))

4540241032
4540241032

* a,b 모두 가리키고 있는 대상이 [1,2,3]으로 동일하다. id 값도 같다.    
따라서 a를 바꾸면 b도 바뀐다.